{% extends 'base.html' %}
{% load static %}

{%block head_content%}
    <title>Agregar</title>
{% endblock %}

{%block container%}
    {% include 'nav.html' %}

    <div class="container mt-5">
        <div class="row justify-content-md-center pt-5">
            <div class="col-5">

                <form method="POST" action="{% url 'agregar' %}">

                    {% csrf_token %}

                    <h3 class="text-center mt-2 mb-4">Agregar Curso</h3>

                    {{ form.as_p }}

                    <button class="btn btn-block col-4 offset-4 bg-primary text-white" >Agregar</button>

                </form>

            </div>
        </div>
    </div>
    
{% endblock %}
